* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar .navbar-brand {
  color: coral;
}
.navbar .navbar-brand span {
  color: black;
}
.navbar .navbar-brand span:hover {
  color: coral;
  transition: all 0.75s;
}
